footer {
  background-color: #14395b;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.footer-logo a {
  color: #fff;
  margin-bottom: 20px;
}
.footer-text {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}
.footericons .icon {
  color: white;
  font-size: 2.5rem;
}
.footer-links h4,
.footer-address h4 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}
.footer-links ul,
.footer-address ul {
  list-style: none;
  padding: 0;
}
.footer-links ul li,
.footer-address ul li {
  display: block !important;
  color: #fff;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.footer-bottom {
  background-color: #0b2f50;
  padding: 20px 50px;
}
.copy-r p {
  margin: 0;
  color: #fff;
  font-size: 1.5rem;
}
