.thankyou {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thankyou h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "PT Sans", serif;
}

.thankyou p {
  font-size: 2rem;
  margin-bottom: 1rem;
}
