.contact-container {
  display: flex;
  position: relative;
  padding: 20px 50px 0 0;
}
.contact-fixed {
  flex: 0.8;
  min-height: calc(100vh - 100px);
  background-color: #2289ff;
  padding: 30px;
  border-radius: 0 10px 10px 0;
}

.contact-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  color: #fff;
  letter-spacing: 1.2px;
}
.contact-text {
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: "Open Sans", serif;
  color: #fff;
  letter-spacing: 1.2px;
}
ul.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.contact-list li {
  font-size: 1.5rem;
  font-family: "Open Sans", serif;
  color: #111;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}
ul.contact-list li a {
  color: #111;
  text-decoration: none;
}

ul.contact-list li .icon {
  color: #e8ebf4;
  margin-right: 10px;
}
.contact-social {
  position: absolute;
  bottom: 30px;
}
.footericons .icon {
  margin-right: 10px;
}

/* contact form */
.contact-form {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form h1 {
  color: #2289ff;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 50px;
}

.contact-form-input {
  font-size: 1.6rem !important;
  margin-bottom: 10px;
  max-width: 400px;
}

button[type="submit"] {
  background-color: #2289ff;
  color: #fff;
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 14px;
  cursor: pointer;
}
